[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "imputeLCMD"]
	path = imputeLCMD
	url = https://github.com/cran/imputeLCMD
	shallow = true
	registered = true
